{% cmp 'footer', margin='top5', padding='bottom4', bg='bodySecondary' %}
  {% cmp 'hr' %}{% endcmp %}
  {% cmp 'container', sizing='medium', padding='y3' %}
    {% cmp 'row' %}
      {% cmp 'col', columns=['small:6', 'medium:4'], margin='bottom3', lineHeight='large' %}
        {{ _meta.site.orgName }}
        {% if _meta.site.address1 %}{% cmp 'br' %}{% endcmp %}{{ _meta.site.address1 }}{% endif %}
        {% if _meta.site.address2 %}{% cmp 'br' %}{% endcmp %}{{ _meta.site.address2 }}{% endif %}
        {% if _meta.site.city or _meta.site.zipCode %}{% cmp 'br' %}{% endcmp %}
          {% if _meta.site.city %}{{ _meta.site.city }}{% endif %}
          {% if _meta.site.zipCode %}
            {% if _meta.site.city %}-{% endif %}
            {{ _meta.site.zipCode }}
          {% endif %}
        {% endif %}
        {% if _meta.site.provinceState %}{% cmp 'br' %}{% endcmp %}{{ _meta.site.provinceState }}{% endif %}
        {% if _meta.site.countryName %}{% cmp 'br' %}{% endcmp %}{{ _meta.site.countryName }}{% endif %}
        {% if _meta.site.phone %}{% cmp 'br' %}{% endcmp %}{{ 'Phone'|t }}: {{ _meta.site.phone }}{% endif %}
        {% if _meta.site.email %}{% cmp 'br' %}{% endcmp %}{{ 'Email'|t }}: {{ _meta.site.email }}{% endif %}
      {% endcmp %}
      {% cmp 'col', columns=['small:6', 'medium:4'], margin='bottom3' %}
      two
      {% endcmp %}
      {% cmp 'col', columns=['small:6', 'medium:4'], margin='bottom3' %}
        {% cmp 'nav', flex='column' %}
          {% for item in _meta.menu.user %}
            {% if item !== '-' %}
            {% cmp 'navItem', href=item.value %}{{ item.text|t }}{% endcmp %}
            {% endif %}
          {% endfor %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
  {% endcmp %}
{% endcmp %}