{% cmp 'nav', navbar=true %}
  {% cmp 'navItemAccount' %}{% endcmp %}
  {% cmp 'navItem', noLink=true, padding='x0,y0' %}{% cmp 'spacer' %}{% endcmp %}{% endcmp %}
  {% cmp 'navItemDarkmode' %}{% endcmp %}
{% endcmp %}