{% if not _meta.flash|is('empty') %}
  {% cmp 'div', class='toast-container', position='fixedBottom0End0', padding=3 %}
    {% if toast %}
      {% if toast|is('plainObject') %}{% set toast = [toast] %}{% endif %}
      {% for t in toast %}
        {% cmp 'toast', shown=true, title=t.title, content=t.content %}{% endcmp %}
      {% endfor %}
    {% endif %}
    {% if _meta.flash.validation %}
      {% set error = _meta.flash.validation[_meta.flash.validation.length - 1] %}
      {% cmp 'toast', id='validation-toast', shown=true, title='Validation Error'|t, text='bgDanger' %}
        {% cmp 'ul', margin=0 %}
          {% for err in error.details %}
            {% cmp 'li' %}
              {% cmp 'a', href='#f-' + err.field, link='light' %}{{ ('field.' + err.field)|t }}{% endcmp %}:
              {{ err.error }}
            {% endcmp %}
          {% endfor %}
        {% endcmp %}
      {% endcmp %}
    {% endif %}
    {% if _meta.flash.dberr %}
      {% cmp 'toast', id='dberr-toast', shown=true, title='DB Error'|t, text='bgDanger' %}
        {{ _meta.flash.dberr|dump }}
      {% endcmp %}
    {% endif %}
    {% if _meta.flash.dbsuccess %}
      {% cmp 'toast', id='dbsuccess-toast', shown=true, title='DB Success'|t, text='bgSuccess' %}
        {{ _meta.flash.dbsuccess[0].message }}
      {% endcmp %}
    {% endif %}
  {% endcmp %}

{% endif %}