{% extends 'bajoWebMpa:/layout/center' %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
{% cmp 'h1', displayHeading=1 %}404{% endcmp %}
{% cmp 'h6', displayHeading=6 %}{{ 'Page not found'|t }}{% endcmp %}
{% endblock %}