{% extends 'bajoWebMpa:/layout/center' %}

{% block css %}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
{% cmp 'h1', displayHeading=1 %}500{% endcmp %}
{% cmp 'h6', displayHeading=6 %}{{ 'Internal Server Error'|t }}{% endcmp %}
{% if getConfig('bajo').env === 'dev' %}
  {% cmp 'alert', type='danger', margin='top3' %}
  {{ error.message }}
  {% endcmp %}
{% endif %}
{% endblock %}