{% cmp 'html', lang=_meta.lang, dataBsTheme=_meta.darkMode %}
  {% cmp 'head' %}
    {% cmp 'meta', charset='utf-8' %}{% endcmp %}
    {% cmp 'meta', name='viewport', content='width=device-width, initial-scale=1' %}{% endcmp %}
    {% cmp 'title'%}{{ getConfig('bajoBook').title|t }} - {{ _meta.site.title }}{% endcmp %}
    {% for c in _meta.theme.css %}
      {% cmp 'link', rel='stylesheet', href=c %}{% endcmp %}
    {% endfor %}
    {% cmp 'link', rel='stylesheet', href=assetDir('bajoBook') + '/css/book.css' %}{% endcmp %}
    {% block css %}{% endblock %}
  {% endcmp %}
  {% cmp 'body', padding=0, margin=0 %}
    {% cmp 'navbar', expand='large', bg='primary', sticky='top', dark=true, padding='y3', shadow=true %}
      {% cmp 'container', sizing='medium' %}
        {% cmp 'navbarBrand' %}
          {{ _meta.title.plugin|t }}
        {% endcmp %}
        {% cmp 'navbarToggler', collapseId='main-navs' %}{% endcmp %}
        {% cmp 'navbarCollapse', id='main-navs' %}
          <!--
          {% cmp 'nav', flex='row,wrap' %}
            {% cmp 'navItem' %}test{% endcmp %}
          {% endcmp %}
          -->
          {% cmp 'nav', flex='row,wrap', margin='startAuto' %}
            {% cmp 'navItemAccount' %}{% endcmp %}
            {% cmp 'navItem', noLink=true, padding='x0,y0' %}{% cmp 'spacer' %}{% endcmp %}{% endcmp %}
            {% cmp 'navItemDarkmode' %}{% endcmp %}
          {% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% cmp 'container', sizing='medium', margin='top3' %}
      {% block body %}{% endblock %}
    {% endcmp %}
    {% include 'bajoWebMpa:/partial/footer' %}
    {% include 'bajoWebMpa:/partial/toast' %}
    {% for s in _meta.theme.script %}
      {% cmp 'script', src=s %}{% endcmp %}
    {% endfor %}
    {% block script %}{% endblock %}
  {% endcmp %}
{% endcmp %}
