{% cmp 'html', lang=_meta.lang, dataBsTheme=_meta.darkMode %}
  {% cmp 'head' %}
    {% cmp 'meta', charset='utf-8' %}{% endcmp %}
    {% cmp 'meta', name='viewport', content='width=device-width, initial-scale=1' %}{% endcmp %}
    {% cmp 'title'%}{{ _meta.site.title }}{% endcmp %}
    {% for c in _meta.theme.css %}
      {% cmp 'link', rel='stylesheet', href=c %}{% endcmp %}
    {% endfor %}
    {% cmp 'link', rel='stylesheet', href=assetDir('bajoBook') + '/css/book.css' %}{% endcmp %}
    {% block css %}{% endblock %}
  {% endcmp %}
  {% cmp 'body', padding=0, margin=0 %}
    {% cmp 'div', display='flex', flex='column', justifyContent='center', alignItems='center', style='height:100vh' %}
      {% cmp 'div', text='center' %}
        {% cmp 'header', margin='bottom5', padding='bottom5', heading=5 %}
        {{ _meta.site.title }}
        {% endcmp %}
        {% block body %}
        {% endblock %}
        {% cmp 'footer', margin='top5', padding='top5' %}
          {% cmp 'p' %}{{ '&copy; %s %s. All rights reserved'|t(2023, _meta.site.orgName) }}{% endcmp %}
          {% cmp 'p' %}
            {% cmp 'a', href='/' %}{{ 'Home'|t }}{% endcmp %}
          {% endcmp %}
        {% endcmp %}
      {% endcmp %}
    {% endcmp %}
    {% include 'bajoWebMpa:/partial/toast' %}
    {% for s in _meta.theme.script %}
      {% cmp 'script', src=s %}{% endcmp %}
    {% endfor %}
    {% block script %}{% endblock %}
  {% endcmp %}
{% endcmp %}
